@import url('ranade.css');
@import url('supreme.css');

:root{
	--maincolor: hsl(221, 52%, 22%);
	--bordercl: hsl(221, 52%, 22%);
	--callouctcolor:dodgerblue;
	--hovercolor:var(--maincolor);
	--darkMaincolor: #ff00f2;
	--quotecolor: var(--maincolor);
  --quotebackground:  hsl(53, 100%,  92%);
  --border-color: rgba(124, 139, 171, 0.5);
  --hue: 41;
  --saturation: 95%;
  --background-color: hsl(var(--hue), var(--saturation), 98%);
  --code-background-color: hsl(calc(var(--hue) + 180), calc(var(--saturation) - 0%), 98%);
  --shadow-color: hsl(var(--hue), calc(var(--saturation) - 50%), 85%);
}

html {
	font-family: 'Supreme-Regular', sans-serif;
	font-size: 18px;
	line-height: 1.4em;
	color: var(--maincolor);
  }

nav {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav > a {
  margin: 0 0.5rem;
}

.language-selection::after {
	content: "-";
	margin-right: 0.75rem;
	margin-left: 0.5rem;
}

a.language-link {
	/* border-bottom: none; */
	font-size: 0.9rem;
	margin: 0rem 0.5rem;
}

div.content {
  max-width: 800px;
}

header {
  font-family: 'Supreme-Bold', sans-serif;
}

body {
	background-color: var(--background-color); 
}

hr {
  padding-bottom: 1em;
}

div.site-description {
	border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 4em;
  margin-top: 4em;
}

.site-description > p {
  margin: 20px 10px;
}

.list-item > h1.title {
  font-size: 30px;
  text-align: left;
}

.list-item > time {
  font-size: 1em;
}

.description {
  font-size: 1em;
}

h1.title {
	font-size: 32px;
	line-height: 1.6em;
  margin-bottom: 0.5em;
}

h1.title > a {
  border-bottom: dotted;
  border-width: 0px;
  text-decoration: underline 3px;
}



h1.title::before { /* Removes the hashtag from the title */
  content: '';
}

h1.title > a {
  text-decoration: none;
}

.list-item > h1.title {
  text-align: center;
  margin-bottom: 0;
}

.list-item > time {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 0.9em;
  text-align: center;
}




.subtitles {
  margin-top: 3em;
  font-size: 1.1em;
  text-align: left;
  
}

h1 {
  font-family: 'Supreme-ExtraBold', sans-serif;
  font-size: 32px;
  line-height: 1.6em;
  text-align: center;
}

h1::before { /* Removes the hashtag from the title */
  content: '';
  display: block;
}



h2 {
  font-family: 'Supreme-ExtraBold', sans-serif;
	font-size: 22px;
}

h2::before { /* Removes the hashtag from the title */
  content: '';
}


h3 {
  font-family: 'Supreme-ExtraBold', sans-serif;
  font-size: 18px;
}

h3::before { /* Removes the hashtag from the title */
  content: '- ';
}

figure h4 {
  font-size: 0.8em;
  font-weight: 500;
}

figure h4::before {
  content: '↳ ';
}

figure {
  text-align: center;
  width: 100%;
  padding:5px;
}

img {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}



p {
	font-family: 'Supreme-Regular', sans-serif;
  font-size: 1.00em;
	line-height: 1.5;
  margin: 0em 0em 0.75em 0em;
  
}

blockquote {
	color: var(--quotecolor);
  padding: 0.5em 1em;
  }

blockquote > p {
  font-size: 1.0em;
}

time {
	color: var(--quotecolor);
  }

figure {
  padding: 0 0px;
}

img {
  border-width: 0px;
  box-shadow: 2px 2px 3px 1px var(--shadow-color);
  border-color: var(--border-color);
	max-width: 100%;
  }

span.draft-label {
	background-color: var(--quotecolor);
	color: white;
}

blockquote {
  margin: 50px 0px 50px 0px;
  background-color: var(--quotebackground);
}

li.post {
  margin-bottom: 0.75em;
}

li.post > a {
  font-family: 'Supreme-Bold', sans-serif;
}

/* Layout das listas não ordenadas */
ul {
  padding-left: 0px;
}

ul>li {
  text-indent: 0em;
  padding-left: 2em;
  line-height: 1.4;
  text-align: left;
  font-size: 1.0em;
  position: relative;
}

ul>li::before {
  content: '> ';
  position:absolute;
  padding-left: 1.8em;
  left: -0.75em;
}

.tags > li::before {
  left: -1.5em;
}

table {
  margin-bottom: 2em;
  font-family: 'Supreme-LightItalic', monospace;
  font-size: 0.85em;
  width:100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

.highlight pre {
  font-size: 0.75em;
  background-color: var(--code-background-color) !important;
  box-shadow: 2px 2px 3px 1px var(--shadow-color);
}

pre > code {
  font-family: 'Fira Code', monospace;
}

/* Justify the footer elements */
/* footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* Makes the first element to be place alone in the first row */
/* This is necessary because the horizontal line is also part of the footer*/
/* footer>hr {
  flex: 0 0 100%;
  padding-bottom: 0px;
} */

@media only screen and (max-width: 600px) {
		header {
		justify-content: flex-start;
		row-gap: 1rem;
	}

	div.main {
	}

	.language-selection > a {
		margin-left: 0rem;
	}

	nav {
		justify-content: space-between;
	}
	
	
}

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-code-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-code-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-code-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-code-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-code-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-code-v10-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-500 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-code-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-code-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-code-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-code-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-code-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-code-v10-latin-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-700 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-code-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-code-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-code-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-code-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-code-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-code-v10-latin-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* dm-mono-300 - latin */
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/dm-mono-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-mono-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-mono-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-mono-v5-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-mono-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-mono-v5-latin-300.svg#DMMono') format('svg'); /* Legacy iOS */
}

/* dm-mono-regular - latin */
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-mono-v5-latin-regular.svg#DMMono') format('svg'); /* Legacy iOS */
}

/* dm-mono-500 - latin */
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-mono-v5-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/dm-mono-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dm-mono-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-mono-v5-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dm-mono-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dm-mono-v5-latin-500.svg#DMMono') format('svg'); /* Legacy iOS */
}
